html, body{height: 100%;}
img{max-width: 100%;}
.App-header{background: #333; color: #fff;}
.App-logo{max-height: 60px;}
.AppContent{height: calc(100vh - 100px);}
.App-footer{background: #666; color: #fff;}